<div id="main">
	<h1><%= @questions.count %> Questions You've Asked</h1>
	<div class="questions" class="clearfix">
		<%= render :partial => "partials/list", :collection => @questions, :as => :question %>
	</div>
</div>