<%= div_for message do %>
	<div class="excerpt">
		<%= safe_html message.markdown %>
		<%= link_to "Edit", [:edit,message], :remote => true %>
		<span class="bullet"> · </span>
		<span class="item_timestamp" title=""><%= message.created_at.strftime("%m-%d %l:%M %p").downcase %></span>
	</div>
<% end %>